{% extends 'profile.html.twig' %}

{% block profile_body %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tbb_a">Clenovia zasahovej jednotky</a></li>
                <li><a href="{{ path('firefighter_new') }}">Pridat clena ZJ</a></li>
            </ul>
            <div class="tab-content">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>cele meno</th>
                        <th>telefonne cislo</th>
                        <th>stav</th>
                        <th>Akcie</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for firefighter in results %}
                        <tr>
                            <td>{{ firefighter.id }}</td>
                            <td>{{ firefighter.fullName }}</td>
                            <td>{{ firefighter.phoneNumber }}</td>
                            <td>{% if firefighter.enabled == true %}Aktivny{% else %}Neaktivny{% endif %}</td>

                            <td>
                                    <a href="{{ path('firefighter_edit', { 'id': firefighter.id }) }}" class="btn btn-success"><span class="icon-edit"></span> Editovať</a>

                                    {% if firefighter.enabled == true %}
                                        <div style="float:left;padding-right: 15px">
                                            <form action="{{ path('firefighter_change', { 'id': firefighter.id, 'type': '0' }) }}" method="post" id="del{{ firefighter.id }}">
                                                <button type="submit" class="btn btn-warning "><span class="icon-remove"></span> Deaktivovat</button>
                                            </form>
                                        </div>
                                    {% else %}
                                        <div style="float:left;padding-right: 15px">
                                            <form action="{{ path('firefighter_change', { 'id': firefighter.id, 'type': '1' }) }}" method="post" id="del{{ firefighter.id }}">
                                                <button type="submit" class="btn btn-info "><span class="icon-remove"></span> Aktivovat</button>
                                            </form>
                                        </div>

                                        <div style="float:left;padding-right: 15px">
                                            <form action="{{ path('firefighter_delete', { 'id': firefighter.id }) }}" method="post" id="del{{ firefighter.id }}">
                                                <button type="submit" class="btn btn-danger remove_firefighter"><span class="icon-remove"></span> Vymazať</button>
                                            </form>
                                        </div>
                                    {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {#{{  dump(results) }}#}

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('js/lib/bootstrap-switch/stylesheets/bootstrap-switch.css') }}">
    <link rel="stylesheet" href="{{ asset('js/lib/bootstrap-switch/stylesheets/ebro_bootstrapSwitch.css') }}">

{% endblock %}

{% block jssheets %}
    <script src="{{ asset('js/lib/bootbox/bootbox.min.js') }}"></script>

    <script>
        $(function () {
            //* delete firefighter
            $('.remove_firefighter').click(function (e) {
                e.preventDefault();
                // var
                var btn = $(this);
                bootbox.dialog({
                    message: '<div class="text-center lead">Are you sure?</div>',
                    title: 'Deleting',
                    buttons: {
                        cancel: {
                            label: "Cancel",
                            className: "btn-link",
                            callback: function () {
                            }
                        },
                        confirm: {
                            label: "Delete",
                            className: "btn-danger",
                            callback: function () {
                                btn.parent('form').submit();
                                //this.form.submit();
                            }
                        }
                    }
                });
            })

        })

    </script>
{% endblock %}







