<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Hasici.vm</title>
		
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
		
		<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/todc-bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('img/flags/flags.css') }}">
		<link rel="stylesheet" href="{{ asset('css/retina.css') }}">
		<link rel="stylesheet" href="{{ asset('js/lib/bootstrap-switch/stylesheets/bootstrap-switch.css') }}">
		<link rel="stylesheet" href="{{ asset('js/lib/bootstrap-switch/stylesheets/ebro_bootstrapSwitch.css') }}">	
	
		<link rel="stylesheet" href="{{ asset('js/lib/jvectormap/jquery-jvectormap-1.2.2.css') }}">
		<link rel="stylesheet" href="{{ asset('js/lib/owl-carousel/owl.carousel.css') }}">
		<link rel="stylesheet" href="{{ asset('js/lib/magnific-popup/magnific-popup.css') }}">
		<link rel="stylesheet" href="{{ asset('css/linecons/style.css') }}">
		<link rel="stylesheet" href="{{ asset('js/lib/fullcalendar/fullcalendar.css') }}">

		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('css/theme/color_15.css') }}" id="theme">
		
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="{{ asset('css/ie.css') }}">
		<script src="{{ asset('js/ie/html5shiv.js') }}"></script>
		<script src="{{ asset('js/ie/respond.min.js') }}"></script>
		<script src="{{ asset('js/ie/excanvas.min.js') }}"></script>
	<![endif]-->
        
        {% block stylesheets %}{% endblock %}


	</head>
	<body>
		<div id="wrapper_all">
			<header id="top_header">
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
							<a href="{{ path('homepage') }}" class="logo_main" title="4y.sk">
                                                        <img src="{{ asset('img/logo-viptel-big.png') }}" alt="">
                                                        </a>
						</div>
						<div class="col-sm-4 text-right">Debug:
                            userId: {{ app.session.get('session_user') }}
                            customerId: {{ app.session.get('session_customer') }}


                            {#{% if app.user %}#}
                                                    {#<div class="col-sm-4">#}
                                                        {#<label>Zákazník :</label>#}
                                                    {#</div>    #}
                                                    {#<div class="col-sm-8 text-right">                                                    #}
                                                    {#{% if app.session.get('session_customer') != null %}#}
                                                    {#{{ render(controller('AppBundle:Default:filterCustomerSelect')) }}#}
                                                    {#</div>#}
                                                    {#{% endif %}                                                       #}
						</div>
						<div class="col-sm-4 text-right">
                                                    {#{% if app.session.get('session_service') != null %}#}
                                                    {#<div class="col-sm-4">#}
                                                        {#<label>Doména :</label>#}
                                                    {#</div>    #}
                                                    {#<div class="col-sm-8 text-right">                                                    #}
                                                       {#{{ render(controller('AppBundle:Default:filterServiceSelect')) }}#}
                                                       {#{% endif %}#}
                                                    {#</div>#}
                                                    {#{% endif %}                                                                                                        #}
						</div>
						<div class="col-sm-2 text-right" style="border:0px solid red;">
							<a href="{{ path('fos_user_security_logout') }}">
                                                        <button class="btn btn-primary btn-block btn-lg">Log Out</button>
                                                        </a>                                                    
						</div>

					</div>
				</div>
			</header>						
			{#<nav id="top_navigatio">#}
				{#<div class="container">                                    #}
			    {#{{ knp_menu_render('AppBundle:Builder:mainMenu' , {'currentClass': 'active','current_ancestor': 'link_active','allow_safe_labels': true}) | raw }}#}
				{#</div>#}
			{#</nav>			#}
			<section class="container clearfix main_section">
			{% block body %}

			{% endblock %}
			</section>

			<div id="footer_space"></div>
		</div>
	
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        &copy; 2017 Jan Furi
                    </div>
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-1 text-right">
                        <small class="text-muted">v1.0</small>
                    </div>
                </div>
            </div>
        </footer>
  
	<!--[[ common plugins ]]-->
	
	<!-- jQuery -->
		<script src="{{ asset('js/jquery.min.js') }}"></script>
		<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('js/jquery.ba-resize.min.js') }}"></script>
		<script src="{{ asset('js/jquery_cookie.min.js') }}"></script>
		<script src="{{ asset('js/retina.min.js') }}"></script>
		<script src="{{ asset('js/lib/typeahead.js/typeahead.min.js') }}"></script>
		<script src="{{ asset('js/lib/typeahead.js/hogan-2.0.0.js') }}"></script>
		<script src="{{ asset('js/tinynav.js') }}"></script>
		<script src="{{ asset('js/lib/jQuery-slimScroll/jquery.slimscroll.min.js') }}"></script>
		<script src="{{ asset('js/lib/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
		<script src="{{ asset('js/lib/TouchSwipe/jquery.touchSwipe.min.js') }}"></script>
		<script src="{{ asset('js/lib/navgoco/jquery.navgoco.min.js') }}"></script>
		<script src="{{ asset('js/ebro_common.js') }}"></script>

		<script src="{{ asset('js/jquery.sticky.js') }}"></script>
		<script src="{{ asset('js/lib/peity/jquery.peity.min.js') }}"></script>
		<script src="{{ asset('js/lib/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
		<script src="{{ asset('js/lib/jvectormap/maps/jquery-jvectormap-world-mill-en.js') }}"></script>
		<script src="{{ asset('js/lib/easy-pie-chart/jquery.easy-pie-chart.js') }}"></script>
		<script src="{{ asset('js/lib/flot/jquery.flot.min.js') }}"></script>
		<script src="{{ asset('js/lib/flot/jquery.flot.pie.min.js') }}"></script>
		<script src="{{ asset('js/lib/flot/jquery.flot.time.min.js') }}"></script>
		<script src="{{ asset('js/lib/flot/jquery.flot.tooltip.min.js') }}"></script>
		<script src="{{ asset('js/lib/flot/jquery.flot.resize.js') }}"></script>
		<script src="{{ asset('js/lib/FitVids/jquery.fitvids.js') }}"></script>
		<script src="{{ asset('js/lib/owl-carousel/owl.carousel.min.js') }}"></script>
		<script src="{{ asset('js/lib/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
		<script src="{{ asset('js/lib/jquery_ui/jquery-ui-1.10.3.custom.min.js') }}"></script>
		<script src="{{ asset('js/lib/fullcalendar/fullcalendar.js') }}"></script>
		<script src="{{ asset('js/pages/ebro_dashboard.js') }}"></script>

		{% block javascripts %}{% endblock %}

		<!--[if lte IE 9]>
			<script src="{{ asset('js/ie/jquery.placeholder.js') }}"></script>
			<script>
				$(function() {
					$('input, textarea').placeholder();
				});
			</script>
		<![endif]-->
		{% block jssheets %}{% endblock %}


	</body>
</html>
        
        
