{% extends 'profile.html.twig' %}

{% block profile_body %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('operators') }}">Operatory</a></li>
                <li><a href="{{ path('operator_new') }}">Pridat operatora</a></li>
            </ul>
            <div class="tab-content">
                <h1>Editovanie operatora</h1>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

        </div>
    </div>
{% endblock %}














